In [1]:
import mysql

In [2]:
import os
os.environ['VIRTUAL_ENV']

'C:\\My_Files\\LambtonCollege\\WIL_Term\\code\\env'

In [3]:
import mysql.connector as mysql
from mysql.connector import Error

In [4]:
import pandas as pd

In [11]:
df = pd.read_csv('fetched_data.csv')

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-28,165.710007,170.350006,162.800003,170.330002,169.628082,179935700
1,2022-01-31,170.160004,175.000000,169.509995,174.779999,174.059738,115541600
2,2022-02-01,174.009995,174.839996,172.309998,174.610001,173.890442,86213900
3,2022-02-02,174.750000,175.880005,173.330002,175.839996,175.115341,84914300
4,2022-02-03,174.479996,176.240005,172.119995,172.899994,172.187469,89418100
...,...,...,...,...,...,...,...
166,2022-09-27,152.740005,154.720001,149.949997,151.759995,151.759995,84442700
167,2022-09-28,147.639999,150.639999,144.839996,149.839996,149.839996,146691400
168,2022-09-29,146.100006,146.720001,140.679993,142.479996,142.479996,128138200
169,2022-09-30,141.279999,143.100006,138.000000,138.199997,138.199997,124705400
170,2022-10-03,138.210007,143.070007,137.690002,142.449997,142.449997,114311700

In [13]:
db_connect = mysql.connect(
    host='localhost',
    user = 'root',
    password = 'password'
)

In [14]:
db_connect

In [15]:
cursor_object = db_connect.cursor()

In [22]:
try:
    cursor_object.execute('CREATE DATABASE stock_price')
except:
    print('Error')

Error

In [23]:
if db_connect.is_connected():
    print('True')

True

In [27]:
cursor_object.execute('USE stock_price')

In [90]:
name = 'AAPL'
cursor_object.execute(f'DROP TABLE IF EXISTS {name}')

In [32]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [43]:
cursor_object.execute(f'CREATE TABLE {name} (Date VARCHAR(12), Open FLOAT, High FLOAT, Low FLOAT, Close FLOAT, Adj_close FLOAT, Volume FLOAT)')

In [116]:
print(f'CREATE TABLE {name} (Date VARCHAR(12), Open FLOAT, High FLOAT, Low FLOAT, Close FLOAT, Adj_close FLOAT, Volume FLOAT)')

CREATE TABLE AAPL (Date VARCHAR(12), Open FLOAT, High FLOAT, Low FLOAT, Close FLOAT, Adj_close FLOAT, Volume FLOAT)

In [75]:
my_dict = {'Date':'VARCHAR(12)', 'Open':'FLOAT'}

In [87]:
my_list = []
for i in my_dict:
    print(f'{i} {my_dict[i]}')
    my_list.append(f'{i} {my_dict[i]}')

Date VARCHAR(12)
Open FLOAT

In [89]:
tuple(my_list)

('Date VARCHAR(12)', 'Open FLOAT')

In [95]:
print(f'CREATE TABLE {name} {tuple(my_list)}')

CREATE TABLE AAPL ('Date VARCHAR(12)', 'Open FLOAT')

In [96]:
str1 = str(my_list)

In [115]:
str2 = str1.replace('\'', '')
str2 = str2.replace('[', '')
str2 = str2.replace(']', '')
# str2 = str2.replace('"', '')
str2

'Date VARCHAR(12), Open FLOAT'

In [71]:
cursor_object.execute(f'INSERT INTO {name}(Date, Open, High, Low, Close, Adj_close, Volume) VALUES {tuple(df.iloc[0].values)}')

In [94]:
print(f'INSERT INTO {name}(Date, Open, High, Low, Close, Adj_close, Volume) VALUES {tuple(df.iloc[0].values)}')

INSERT INTO AAPL(Date, Open, High, Low, Close, Adj_close, Volume) VALUES ('2022-01-28', 165.7100067138672, 170.35000610351562, 162.8000030517578, 170.3300018310547, 169.62808227539062, 179935700)

In [91]:
db_connect.commit()

In [57]:
cursor_object.execute(f'DESCRIBE {name}')

In [58]:
for x in cursor_object:
    print(x)

('Date', b'varchar(12)', 'YES', '', None, '')
('Open', b'float', 'YES', '', None, '')
('High', b'float', 'YES', '', None, '')
('Low', b'float', 'YES', '', None, '')
('Close', b'float', 'YES', '', None, '')
('Adj_close', b'float', 'YES', '', None, '')
('Volume', b'float', 'YES', '', None, '')

In [68]:
print(tuple(df.iloc[0].values))

('2022-01-28', 165.7100067138672, 170.35000610351562, 162.8000030517578, 170.3300018310547, 169.62808227539062, 179935700)

In [138]:
column_as_str = str(df.columns.values)
# column_as_str = column_as_str.replace('\'', '')
# column_as_str = column_as_str.replace('[', '')
# column_as_str = column_as_str.replace(']', '')
# # column_as_str = column_as_str.replace(' ', ', ')

In [140]:
df.columns.values

array(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype=object)

In [142]:
df.Close

0      170.330002
1      174.779999
2      174.610001
3      175.839996
4      172.899994
          ...
166    151.759995
167    149.839996
168    142.479996
169    138.199997
170    142.449997
Name: Close, Length: 171, dtype: float64

In [133]:
print(f'INSERT INTO AAPL({column_as_str}) VALUES {tuple(rows.values)}')

NameError: name 'rows' is not defined

In [73]:
for i,j in df.iterrows():
    print(tuple(j.values))
    cursor_object.execute(f'INSERT INTO {name}(Date, Open, High, Low, Close, Adj_close, Volume) VALUES {tuple(j.values)}')

('2022-01-28', 165.7100067138672, 170.35000610351562, 162.8000030517578, 170.3300018310547, 169.62808227539062, 179935700)
('2022-01-31', 170.16000366210938, 175.0, 169.50999450683594, 174.77999877929688, 174.0597381591797, 115541600)
('2022-02-01', 174.00999450683594, 174.83999633789062, 172.30999755859375, 174.61000061035156, 173.89044189453125, 86213900)
('2022-02-02', 174.75, 175.8800048828125, 173.3300018310547, 175.83999633789062, 175.11534118652344, 84914300)
('2022-02-03', 174.47999572753906, 176.24000549316406, 172.1199951171875, 172.89999389648438, 172.18746948242188, 89418100)
('2022-02-04', 171.67999267578125, 174.10000610351562, 170.67999267578125, 172.38999938964844, 171.8983154296875, 82465400)
('2022-02-07', 172.86000061035156, 173.9499969482422, 170.9499969482422, 171.66000366210938, 171.17039489746094, 77251200)
('2022-02-08', 171.72999572753906, 175.35000610351562, 171.42999267578125, 174.8300018310547, 174.3313446044922, 74829200)
('2022-02-09', 176.0500030517578, 176.64999389648438, 174.89999389648438, 176.27999877929688, 175.7772216796875, 71285000)
('2022-02-10', 174.13999938964844, 175.47999572753906, 171.5500030517578, 172.1199951171875, 171.6290740966797, 90865900)
('2022-02-11', 172.3300018310547, 173.0800018310547, 168.0399932861328, 168.63999938964844, 168.1590118408203, 98670700)
('2022-02-14', 167.3699951171875, 169.5800018310547, 166.55999755859375, 168.8800048828125, 168.3983154296875, 86185500)
('2022-02-15', 170.97000122070312, 172.9499969482422, 170.25, 172.7899932861328, 172.2971649169922, 62527400)
('2022-02-16', 171.85000610351562, 173.33999633789062, 170.0500030517578, 172.5500030517578, 172.057861328125, 61177400)
('2022-02-17', 171.02999877929688, 171.91000366210938, 168.47000122070312, 168.8800048828125, 168.3983154296875, 69589300)
('2022-02-18', 169.82000732421875, 170.5399932861328, 166.19000244140625, 167.3000030517578, 166.8228302001953, 82772700)
('2022-02-22', 164.97999572753906, 166.69000244140625, 162.14999389648438, 164.32000732421875, 163.85133361816406, 91162800)
('2022-02-23', 165.5399932861328, 166.14999389648438, 159.75, 160.07000732421875, 159.61346435546875, 90009200)
('2022-02-24', 152.5800018310547, 162.85000610351562, 152.0, 162.74000549316406, 162.27584838867188, 141147500)
('2022-02-25', 163.83999633789062, 165.1199951171875, 160.8699951171875, 164.85000610351562, 164.37982177734375, 91974200)
('2022-02-28', 163.05999755859375, 165.4199981689453, 162.42999267578125, 165.1199951171875, 164.6490478515625, 95056600)
('2022-03-01', 164.6999969482422, 166.60000610351562, 161.97000122070312, 163.1999969482422, 162.73452758789062, 83474400)
('2022-03-02', 164.38999938964844, 167.36000061035156, 162.9499969482422, 166.55999755859375, 166.08494567871094, 79724800)
('2022-03-03', 168.47000122070312, 168.91000366210938, 165.5500030517578, 166.22999572753906, 165.75587463378906, 76678400)
('2022-03-04', 164.49000549316406, 165.5500030517578, 162.10000610351562, 163.1699981689453, 162.70460510253906, 83737200)
('2022-03-07', 163.36000061035156, 165.02000427246094, 159.0399932861328, 159.3000030517578, 158.8456573486328, 96418800)
('2022-03-08', 158.82000732421875, 162.8800048828125, 155.8000030517578, 157.44000244140625, 156.99095153808594, 131148300)
('2022-03-09', 161.47999572753906, 163.41000366210938, 159.41000366210938, 162.9499969482422, 162.48524475097656, 91454900)
('2022-03-10', 160.1999969482422, 160.38999938964844, 155.97999572753906, 158.52000427246094, 158.06788635253906, 105342000)
('2022-03-11', 158.92999267578125, 159.27999877929688, 154.5, 154.72999572753906, 154.28868103027344, 96970100)
('2022-03-14', 151.4499969482422, 154.1199951171875, 150.10000610351562, 150.6199951171875, 150.19039916992188, 108732100)
('2022-03-15', 150.89999389648438, 155.57000732421875, 150.3800048828125, 155.08999633789062, 154.64764404296875, 92964300)
('2022-03-16', 157.0500030517578, 160.0, 154.4600067138672, 159.58999633789062, 159.13482666015625, 102300200)
('2022-03-17', 158.61000061035156, 161.0, 157.6300048828125, 160.6199951171875, 160.16188049316406, 75615400)
('2022-03-18', 160.50999450683594, 164.47999572753906, 159.75999450683594, 163.97999572753906, 163.51229858398438, 123511700)
('2022-03-21', 163.50999450683594, 166.35000610351562, 163.00999450683594, 165.3800048828125, 164.90830993652344, 95811400)
('2022-03-22', 165.50999450683594, 169.4199981689453, 164.91000366210938, 168.82000732421875, 168.3385009765625, 81532000)
('2022-03-23', 167.99000549316406, 172.63999938964844, 167.64999389648438, 170.2100067138672, 169.72454833984375, 98062700)
('2022-03-24', 171.05999755859375, 174.13999938964844, 170.2100067138672, 174.07000732421875, 173.57351684570312, 90131400)
('2022-03-25', 173.8800048828125, 175.27999877929688, 172.75, 174.72000122070312, 174.22166442871094, 80546200)
('2022-03-28', 172.1699981689453, 175.72999572753906, 172.0, 175.60000610351562, 175.09915161132812, 90371900)
('2022-03-29', 176.69000244140625, 179.00999450683594, 176.33999633789062, 178.9600067138672, 178.44956970214844, 100589400)
('2022-03-30', 178.5500030517578, 179.61000061035156, 176.6999969482422, 177.77000427246094, 177.26296997070312, 92633200)
('2022-03-31', 177.83999633789062, 178.02999877929688, 174.39999389648438, 174.61000061035156, 174.1119842529297, 103049300)
('2022-04-01', 174.02999877929688, 174.8800048828125, 171.94000244140625, 174.30999755859375, 173.8128204345703, 78751300)
('2022-04-04', 174.57000732421875, 178.49000549316406, 174.44000244140625, 178.44000244140625, 177.93104553222656, 76468400)
('2022-04-05', 177.5, 178.3000030517578, 174.4199981689453, 175.05999755859375, 174.56068420410156, 73401800)
('2022-04-06', 172.36000061035156, 173.6300048828125, 170.1300048828125, 171.8300018310547, 171.33990478515625, 89058800)
('2022-04-07', 171.16000366210938, 173.36000061035156, 169.85000610351562, 172.13999938964844, 171.64901733398438, 77594700)
('2022-04-08', 171.77999877929688, 171.77999877929688, 169.1999969482422, 170.08999633789062, 169.6048583984375, 76575500)
('2022-04-11', 168.7100067138672, 169.02999877929688, 165.5, 165.75, 165.27723693847656, 72246700)
('2022-04-12', 168.02000427246094, 169.8699951171875, 166.63999938964844, 167.66000366210938, 167.1818084716797, 79265200)
('2022-04-13', 167.38999938964844, 171.0399932861328, 166.77000427246094, 170.39999389648438, 169.91397094726562, 70618900)
('2022-04-14', 170.6199951171875, 171.27000427246094, 165.0399932861328, 165.2899932861328, 164.8185577392578, 75329400)
('2022-04-18', 163.9199981689453, 166.60000610351562, 163.57000732421875, 165.07000732421875, 164.5991973876953, 69023900)
('2022-04-19', 165.02000427246094, 167.82000732421875, 163.91000366210938, 167.39999389648438, 166.92254638671875, 67723800)
('2022-04-20', 168.75999450683594, 168.8800048828125, 166.10000610351562, 167.22999572753906, 166.75302124023438, 67929800)
('2022-04-21', 168.91000366210938, 171.52999877929688, 165.91000366210938, 166.4199981689453, 165.94534301757812, 87227800)
('2022-04-22', 166.4600067138672, 167.8699951171875, 161.5, 161.7899932861328, 161.3285369873047, 84882400)
('2022-04-25', 161.1199951171875, 163.1699981689453, 158.4600067138672, 162.8800048828125, 162.41543579101562, 96046400)
('2022-04-26', 162.25, 162.33999633789062, 156.72000122070312, 156.8000030517578, 156.352783203125, 95623200)
('2022-04-27', 155.91000366210938, 159.7899932861328, 155.3800048828125, 156.57000732421875, 156.12344360351562, 88063200)
('2022-04-28', 159.25, 164.52000427246094, 158.92999267578125, 163.63999938964844, 163.1732635498047, 130216800)
('2022-04-29', 161.83999633789062, 166.1999969482422, 157.25, 157.64999389648438, 157.20034790039062, 131747600)
('2022-05-02', 156.7100067138672, 158.22999572753906, 153.27000427246094, 157.9600067138672, 157.5094757080078, 123055300)
('2022-05-03', 158.14999389648438, 160.7100067138672, 156.32000732421875, 159.47999572753906, 159.02513122558594, 88966500)
('2022-05-04', 159.6699981689453, 166.47999572753906, 159.25999450683594, 166.02000427246094, 165.54647827148438, 108256500)
('2022-05-05', 163.85000610351562, 164.0800018310547, 154.9499969482422, 156.77000427246094, 156.3228759765625, 130525300)
('2022-05-06', 156.00999450683594, 159.44000244140625, 154.17999267578125, 157.27999877929688, 157.06182861328125, 116124600)
('2022-05-09', 154.92999267578125, 155.8300018310547, 151.49000549316406, 152.05999755859375, 151.8490753173828, 131577900)
('2022-05-10', 155.52000427246094, 156.74000549316406, 152.92999267578125, 154.50999450683594, 154.29566955566406, 115366700)
('2022-05-11', 153.5, 155.4499969482422, 145.80999755859375, 146.5, 146.29678344726562, 142689800)
('2022-05-12', 142.77000427246094, 146.1999969482422, 138.8000030517578, 142.55999755859375, 142.36224365234375, 182602000)
('2022-05-13', 144.58999633789062, 148.10000610351562, 143.11000061035156, 147.11000061035156, 146.90594482421875, 113990900)
('2022-05-16', 145.5500030517578, 147.52000427246094, 144.17999267578125, 145.5399932861328, 145.33811950683594, 86643800)
('2022-05-17', 148.86000061035156, 149.77000427246094, 146.67999267578125, 149.24000549316406, 149.03298950195312, 78336300)
('2022-05-18', 146.85000610351562, 147.36000061035156, 139.89999389648438, 140.82000732421875, 140.6246795654297, 109742900)
('2022-05-19', 139.8800048828125, 141.66000366210938, 136.60000610351562, 137.35000610351562, 137.15948486328125, 136095600)
('2022-05-20', 139.08999633789062, 140.6999969482422, 132.61000061035156, 137.58999633789062, 137.39913940429688, 137426100)
('2022-05-23', 137.7899932861328, 143.25999450683594, 137.64999389648438, 143.11000061035156, 142.91148376464844, 117726300)
('2022-05-24', 140.80999755859375, 141.97000122070312, 137.3300018310547, 140.36000061035156, 140.16529846191406, 104132700)
('2022-05-25', 138.42999267578125, 141.7899932861328, 138.33999633789062, 140.52000427246094, 140.32508850097656, 92482700)
('2022-05-26', 137.38999938964844, 144.33999633789062, 137.13999938964844, 143.77999877929688, 143.58055114746094, 90601500)
('2022-05-27', 145.38999938964844, 149.67999267578125, 145.25999450683594, 149.63999938964844, 149.43243408203125, 90978500)
('2022-05-31', 149.07000732421875, 150.66000366210938, 146.83999633789062, 148.83999633789062, 148.633544921875, 103718400)
('2022-06-01', 149.89999389648438, 151.74000549316406, 147.67999267578125, 148.7100067138672, 148.50372314453125, 74286600)
('2022-06-02', 147.8300018310547, 151.27000427246094, 146.86000061035156, 151.2100067138672, 151.00025939941406, 72348100)
('2022-06-03', 146.89999389648438, 147.97000122070312, 144.4600067138672, 145.3800048828125, 145.1783447265625, 88570300)
('2022-06-06', 147.02999877929688, 148.57000732421875, 144.89999389648438, 146.13999938964844, 145.93728637695312, 71598400)
('2022-06-07', 144.35000610351562, 149.0, 144.10000610351562, 148.7100067138672, 148.50372314453125, 67808200)
('2022-06-08', 148.5800018310547, 149.8699951171875, 147.4600067138672, 147.9600067138672, 147.75477600097656, 53950200)
('2022-06-09', 147.0800018310547, 147.9499969482422, 142.52999877929688, 142.63999938964844, 142.442138671875, 69473000)
('2022-06-10', 140.27999877929688, 140.75999450683594, 137.05999755859375, 137.1300048828125, 136.93978881835938, 91437900)
('2022-06-13', 132.8699951171875, 135.1999969482422, 131.44000244140625, 131.8800048828125, 131.6970672607422, 122207100)
('2022-06-14', 133.1300048828125, 133.88999938964844, 131.47999572753906, 132.75999450683594, 132.57583618164062, 84784300)
('2022-06-15', 134.2899932861328, 137.33999633789062, 132.16000366210938, 135.42999267578125, 135.2421417236328, 91533000)
('2022-06-16', 132.0800018310547, 132.38999938964844, 129.0399932861328, 130.05999755859375, 129.8795928955078, 108123900)
('2022-06-17', 130.07000732421875, 133.0800018310547, 129.80999755859375, 131.55999755859375, 131.37750244140625, 134520300)
('2022-06-21', 133.4199981689453, 137.05999755859375, 133.32000732421875, 135.8699951171875, 135.68153381347656, 81000500)
('2022-06-22', 134.7899932861328, 137.75999450683594, 133.91000366210938, 135.35000610351562, 135.16226196289062, 73409200)
('2022-06-23', 136.82000732421875, 138.58999633789062, 135.6300048828125, 138.27000427246094, 138.0782012939453, 72433800)
('2022-06-24', 139.89999389648438, 141.91000366210938, 139.77000427246094, 141.66000366210938, 141.4635009765625, 89116800)
('2022-06-27', 142.6999969482422, 143.49000549316406, 140.97000122070312, 141.66000366210938, 141.4635009765625, 70207900)
('2022-06-28', 142.1300048828125, 143.4199981689453, 137.32000732421875, 137.44000244140625, 137.24935913085938, 67083400)
('2022-06-29', 137.4600067138672, 140.6699981689453, 136.6699981689453, 139.22999572753906, 139.036865234375, 66242400)
('2022-06-30', 137.25, 138.3699951171875, 133.77000427246094, 136.72000122070312, 136.5303497314453, 98964500)
('2022-07-01', 136.0399932861328, 139.0399932861328, 135.66000366210938, 138.92999267578125, 138.73727416992188, 71051600)
('2022-07-05', 137.77000427246094, 141.61000061035156, 136.92999267578125, 141.55999755859375, 141.36363220214844, 73353800)
('2022-07-06', 141.35000610351562, 144.1199951171875, 141.0800018310547, 142.9199981689453, 142.7217559814453, 74064300)
('2022-07-07', 143.2899932861328, 146.5500030517578, 143.27999877929688, 146.35000610351562, 146.14700317382812, 66253700)
('2022-07-08', 145.25999450683594, 147.5500030517578, 145.0, 147.0399932861328, 146.83602905273438, 64547800)
('2022-07-11', 145.6699981689453, 146.63999938964844, 143.77999877929688, 144.8699951171875, 144.66903686523438, 63141600)
('2022-07-12', 145.75999450683594, 148.4499969482422, 145.0500030517578, 145.86000061035156, 145.6576690673828, 77588800)
('2022-07-13', 142.99000549316406, 146.4499969482422, 142.1199951171875, 145.49000549316406, 145.28819274902344, 71185600)
('2022-07-14', 144.0800018310547, 148.9499969482422, 143.25, 148.47000122070312, 148.26405334472656, 78140700)
('2022-07-15', 149.77999877929688, 150.86000061035156, 148.1999969482422, 150.1699981689453, 149.96170043945312, 76259900)
('2022-07-18', 150.74000549316406, 151.57000732421875, 146.6999969482422, 147.07000732421875, 146.86599731445312, 81420900)
('2022-07-19', 147.9199981689453, 151.22999572753906, 146.91000366210938, 151.0, 150.79054260253906, 82982400)
('2022-07-20', 151.1199951171875, 153.72000122070312, 150.3699951171875, 153.0399932861328, 152.8277130126953, 64823400)
('2022-07-21', 154.5, 155.57000732421875, 151.94000244140625, 155.35000610351562, 155.134521484375, 65086600)
('2022-07-22', 155.38999938964844, 156.27999877929688, 153.41000366210938, 154.08999633789062, 153.87625122070312, 66675400)
('2022-07-25', 154.00999450683594, 155.0399932861328, 152.27999877929688, 152.9499969482422, 152.7378387451172, 53623900)
('2022-07-26', 152.25999450683594, 153.08999633789062, 150.8000030517578, 151.60000610351562, 151.3897247314453, 55138700)
('2022-07-27', 152.5800018310547, 157.3300018310547, 152.16000366210938, 156.7899932861328, 156.572509765625, 78620700)
('2022-07-28', 156.97999572753906, 157.63999938964844, 154.41000366210938, 157.35000610351562, 157.13174438476562, 81378700)
('2022-07-29', 161.24000549316406, 163.6300048828125, 159.5, 162.50999450683594, 162.28457641601562, 101786900)
('2022-08-01', 161.00999450683594, 163.58999633789062, 160.88999938964844, 161.50999450683594, 161.2859649658203, 67829400)
('2022-08-02', 160.10000610351562, 162.41000366210938, 159.6300048828125, 160.00999450683594, 159.7880401611328, 59907000)
('2022-08-03', 160.83999633789062, 166.58999633789062, 160.75, 166.1300048828125, 165.89956665039062, 82507500)
('2022-08-04', 166.00999450683594, 167.19000244140625, 164.42999267578125, 165.80999755859375, 165.5800018310547, 55474100)
('2022-08-05', 163.2100067138672, 165.85000610351562, 163.0, 165.35000610351562, 165.35000610351562, 56697000)
('2022-08-08', 166.3699951171875, 167.80999755859375, 164.1999969482422, 164.8699951171875, 164.8699951171875, 60276900)
('2022-08-09', 164.02000427246094, 165.82000732421875, 163.25, 164.9199981689453, 164.9199981689453, 63135500)
('2022-08-10', 167.67999267578125, 169.33999633789062, 166.89999389648438, 169.24000549316406, 169.24000549316406, 70170500)
('2022-08-11', 170.05999755859375, 170.99000549316406, 168.19000244140625, 168.49000549316406, 168.49000549316406, 57149200)
('2022-08-12', 169.82000732421875, 172.1699981689453, 169.39999389648438, 172.10000610351562, 172.10000610351562, 68039400)
('2022-08-15', 171.52000427246094, 173.38999938964844, 171.35000610351562, 173.19000244140625, 173.19000244140625, 54091700)
('2022-08-16', 172.77999877929688, 173.7100067138672, 171.66000366210938, 173.02999877929688, 173.02999877929688, 56377100)
('2022-08-17', 172.77000427246094, 176.14999389648438, 172.57000732421875, 174.5500030517578, 174.5500030517578, 79542000)
('2022-08-18', 173.75, 174.89999389648438, 173.1199951171875, 174.14999389648438, 174.14999389648438, 62290100)
('2022-08-19', 173.02999877929688, 173.74000549316406, 171.30999755859375, 171.52000427246094, 171.52000427246094, 70346300)
('2022-08-22', 169.69000244140625, 169.86000061035156, 167.13999938964844, 167.57000732421875, 167.57000732421875, 69026800)
('2022-08-23', 167.0800018310547, 168.7100067138672, 166.64999389648438, 167.22999572753906, 167.22999572753906, 54147100)
('2022-08-24', 167.32000732421875, 168.11000061035156, 166.25, 167.52999877929688, 167.52999877929688, 53841500)
('2022-08-25', 168.77999877929688, 170.13999938964844, 168.35000610351562, 170.02999877929688, 170.02999877929688, 51218200)
('2022-08-26', 170.57000732421875, 171.0500030517578, 163.55999755859375, 163.6199951171875, 163.6199951171875, 78961000)
('2022-08-29', 161.14999389648438, 162.89999389648438, 159.82000732421875, 161.3800048828125, 161.3800048828125, 73314000)
('2022-08-30', 162.1300048828125, 162.55999755859375, 157.72000122070312, 158.91000366210938, 158.91000366210938, 77906200)
('2022-08-31', 160.30999755859375, 160.5800018310547, 157.13999938964844, 157.22000122070312, 157.22000122070312, 87991100)
('2022-09-01', 156.63999938964844, 158.4199981689453, 154.6699981689453, 157.9600067138672, 157.9600067138672, 74229900)
('2022-09-02', 159.75, 160.36000061035156, 154.97000122070312, 155.80999755859375, 155.80999755859375, 76905200)
('2022-09-06', 156.47000122070312, 157.08999633789062, 153.69000244140625, 154.52999877929688, 154.52999877929688, 73714800)
('2022-09-07', 154.82000732421875, 156.6699981689453, 153.61000061035156, 155.9600067138672, 155.9600067138672, 87449600)
('2022-09-08', 154.63999938964844, 156.36000061035156, 152.67999267578125, 154.4600067138672, 154.4600067138672, 84923800)
('2022-09-09', 155.47000122070312, 157.82000732421875, 154.75, 157.3699951171875, 157.3699951171875, 68028800)
('2022-09-12', 159.58999633789062, 164.25999450683594, 159.3000030517578, 163.42999267578125, 163.42999267578125, 104956000)
('2022-09-13', 159.89999389648438, 160.5399932861328, 153.3699951171875, 153.83999633789062, 153.83999633789062, 122656600)
('2022-09-14', 154.7899932861328, 157.10000610351562, 153.61000061035156, 155.30999755859375, 155.30999755859375, 87965400)
('2022-09-15', 154.64999389648438, 155.24000549316406, 151.3800048828125, 152.3699951171875, 152.3699951171875, 90481100)
('2022-09-16', 151.2100067138672, 151.35000610351562, 148.3699951171875, 150.6999969482422, 150.6999969482422, 162157000)
('2022-09-19', 149.30999755859375, 154.55999755859375, 149.10000610351562, 154.47999572753906, 154.47999572753906, 81474200)
('2022-09-20', 153.39999389648438, 158.0800018310547, 153.0800018310547, 156.89999389648438, 156.89999389648438, 107689800)
('2022-09-21', 157.33999633789062, 158.74000549316406, 153.60000610351562, 153.72000122070312, 153.72000122070312, 101696800)
('2022-09-22', 152.3800048828125, 154.47000122070312, 150.91000366210938, 152.74000549316406, 152.74000549316406, 86652500)
('2022-09-23', 151.19000244140625, 151.47000122070312, 148.55999755859375, 150.42999267578125, 150.42999267578125, 95939200)